<% if notice.present? %>
  <div class="alert alert-success text-center">
    <%= notice %>
  </div>
<% end %>

<% @posts.each do |post| %>
  <%= render post %>
<% end %>

<hr>

<div class="text-end">
  <%= link_to "Criar novo post", new_post_path, class: "btn btn-primary" %>
</div>
